@using System.Globalization
@{
    ViewBag.Title = "标签管理";
    Layout = "../Shared/AdminBase.cshtml";
}
<div class="toolbar-grid clearfix">
    <div class="row">
        <div class="col-md-8">
            <div class="pull-left">
                <button class="btn btn-info">添加</button>
                <button class="btn btn-danger">删除</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">搜索</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < 10; i++)
            {
                <tr>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                    <td>@i.ToString(CultureInfo.InvariantCulture)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-right pagination-wapper">
    <ul class="pagination">
        <li class="disabled">
            <a>« Prev</a>
        </li>
        <li class="active">
            <a>1</a>
        </li>
        <li class="disabled">
            <a>Next »</a>
        </li>
    </ul>
</div>