@using FlappyBlog.Mvc.Html
@using FlappyBlog.Infrastructure.Paged
@using FlappyBlog.Domain.Models

@model PagedList<Tag>
@using (Html.BeginTable())
{
    <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>文章数</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model.Items)
        {
            <tr>
                <td>@tag.Id</td>
                <td>@tag.Name</td>
                <td>@tag.PostCount</td>
                <td>@tag.Description</td>
                <td>@tag.CreatedDate.ToShortDateString()</td>
                <td>
                    <button class="btn-sm btn-info btn">编辑</button>
                    <button class="btn-sm btn-danger btn">删除</button>
                </td>
            </tr>
        }
    </tbody>
}
@Html.Pager(Model.PageIndex, Model.TotalPage)