<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="FlappyBlog" />
        <meta name="author" content="FlappyBlog" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/static/bootstrap/css/bootstrap.min.css")
        <style type="text/css">
            .tooltip.top .tooltip-arrow {
                border-top-color: red;
            }
            .tooltip-inner {
                background-color: red;
            }            
            #messager {
                margin-bottom: 5px;
                font-size: 16px;
            }
        </style>
        @RenderSection("style", false)
        <!--[if lt IE 9]>
            @Scripts.Render("~/static/js/html5shiv.min.js")
            @Scripts.Render("~/static/js/respond.min.js")
        <![endif]-->
    </head>
    <body>
        @RenderBody()
        @Scripts.Render("~/static/js/jquery-1.11.0.min.js")
        @Scripts.Render("~/static/js/jquery.unobtrusive-ajax.min.js")
        @Scripts.Render("~/static/js/jquery.validate.min.js")
        @Scripts.Render("~/static/js/jquery.validate.unobtrusive.min.js")
        @*@Scripts.Render("~/static/js/jquery-ui-1.10.4.min.js")*@
        @Scripts.Render("~/static/bootstrap/js/bootstrap.min.js")
        <script type="text/javascript">
            $.validator.setDefaults({
                showErrors: function (errorMap, errorList) {
                    this.defaultShowErrors();

                    // destroy tooltips on valid elements                
                    var $vaild = $("." + this.settings.validClass);
                    $vaild.tooltip("destroy");
                    $vaild.parents(".form-group").removeClass("has-warning");

                    // add/update tooltips 
                    for (var i = 0; i < errorList.length; i++) {
                        var error = errorList[i];

                        var $error = $("#" + error.element.id);
                        $error.tooltip({ trigger: "manual", placement: "top" })
                            .attr("data-original-title", error.message)
                            .tooltip('show');
                        console.log($error.parent(".form-group"));
                        $error.parents(".form-group").addClass("has-warning");
                    }
                }
            });
            //TODO:放到全局变量App里
            var msg = {};
            msg.showError = function(title, content) {
                var $msg = $("#messager");
                var $title = $msg.find("#messagerTitle");
                var $content = $msg.find("#messagerContent");
                $msg.hide("fast");
                $msg.removeClass("alert-success");
                $msg.addClass("alert-danger");
                $title.text(title);
                $content.text(content);
                $msg.show("normal");
            };
            msg.showSuccess = function (title, content) {
                var $msg = $("#messager");
                var $title = $msg.find("#messagerTitle");
                var $content = $msg.find("#messagerContent");
                $msg.hide("fast");
                $msg.removeClass("alert-danger");
                $msg.addClass("alert-success");
                $title.text(title);
                $content.text(content);
                $msg.show("normal");
            };
            $(function() {
                $("#messagerClose").click(function() {
                    $("#messager").hide("fast");
                });
            });
        </script>
        @RenderSection("scripts", false)
    </body>
</html>