@model FlappyBlog.Mvc.Areas.Admin.Models.TagEditModel

@{
    ViewBag.Title = "Test";
    Layout = "~/Areas/Admin/Views/Shared/AdminBase.cshtml";
}

<h2>Test</h2>
@{
    var ajax = new AjaxOptions {OnSuccess = "TagSuccess"};
}
@using (Ajax.BeginForm(ajax))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TagEditModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script type="text/javascript">
        function TagSuccess(data) {
            console.log(data);
        }
    </script>
}
